VITE_FIREBASE_API_KEY=AIzaSyDlSDCqClLg18GlJ2xLgkGu4Z8yIkyZWh8
VITE_FIREBASE_APP_ID=1:165696180136:web:017607d05ca991234c979d
VITE_FIREBASE_AUTH_DOMAIN=smart-crop-insurance-evidence.firebaseapp.com
VITE_FIREBASE_MESSAGING_SENDER_ID=165696180136
VITE_FIREBASE_PROJECT_ID=smart-crop-insurance-evidence
VITE_FIREBASE_STORAGE_BUCKET=smart-crop-insurance-evidence.firebasestorage.app